body {
    margin: 0px;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.mainButton {
    background-color: rgb(91, 95, 95);
    color: whitesmoke;
    border: 0px;
    padding: 5px 10px;
    border-radius: 7px;
    font-weight:bolder;
    
}

.mainButton:hover {
    cursor:pointer;
    box-shadow: 3px 3px black;
    transform: scale(1.1);
}