body {
  margin: 0px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(124, 20, 20);
  border-bottom: 1px solid black;
  box-shadow: 1px 1px gray;
}
.navbar > li {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.button {
  border: 0px;
  padding:5px 10px;
  border-radius: 8px;
  font-weight: bolder;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mainButton {
  background-color:rgb(72, 70, 70);
  color:white;
  
}

.mainButton:hover {
  box-shadow: 2px, 2px black;
}

.secondaryButton {
  background-color:rgb(201, 200, 200);
  color: white;
}

.secondaryButton:hover {
  box-shadow: 2px, 2px rgb(58, 57, 57);
}

.buscar {
  background-color: rgb(242, 239, 239);
  border: 1px solid rgb(72, 72, 72);
  padding: 4px;
  border-radius: 7px;
  width: 300px;
  display: flex;
  justify-content: right;
}

.buscar:focus-within {
  border: 1px solid rgb(162, 27, 27);

}

.buscar > input {
  outline: none;
  border: 0px;
}

.iconoBusqueda:hover {
  color:red;
}

.breedCardContainer {
  display: flex;
}

.breedCard {
  margin: 10px;
}

.breedTitle {
  color: rgb(255, 255, 255);
  margin: 10px 0;
  font-weight: bold;

}

.contenedorImagen {
  width: 240px;
  height: 240px;
  display: flex;
  margin-bottom: 10px;
}

.contenedorImagen:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.contenedorImagen > img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.backgroundGris {
  background-color: gray;
}

.backgroundRed {
  background-color: rgb(130, 68, 68);
}